@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

#inputProf {
    position:absolute;
    top:0;
    left:0%;
    height:15%;
    width:30%;
    background-color: white;
    border-radius: 60px 0 60px 0;
}

#inputProf span {
    position: absolute;
    top:10%;
    left:10%;
    font-family: Oswald,sans-serif;
    font-size:1em;
}

#inputProf input {
    position: absolute;
    top:60%;
    left:10%;
    font-family: Oswald,sans-serif;
    font-size:1em;
    height:10%;
    width:80%;
}

#outputProf {
    position:absolute;
    top:23%;
    left:10%;
    height:50%;
    width:75%;
    background-color: white;
    border-radius: 60px 60px 0px 0px ;
    text-align: center;
    font-family: Oswald,sans-serif;
    font-size:20px;
}
#outputName {
    position:absolute;
    top:2%;
    left:30%;
    height:10%;
    width:40%;
}